.search-bar-detail {
  position: absolute;
  top: 220px;
  left: 196px;
  width: 1047px;
  height: 142px;
  padding: 0px 16px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 10px #ccc;
}
.nama-mobil-detail {
  width: auto;
  height: auto;
  margin: 20px 2px 4px 2px;
}
.kategori-detail,
.status-detail,
.harga-detail {
  width: auto;
  height: auto;
  margin: 42px 2px 4px 2px;
}
.nama-mobil-detail h6 {
  margin-bottom: 4px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.form-option-detail {
  width: 238px;
  height: 36px;
  padding: 5px;
  margin: 0px;
}
.cari-mobil-detail {
  width: auto;
  height: auto;
  margin: 8px;
  display: flex;
  align-content: center;
}
.search-bar-detail p {
  margin-bottom: 4px;
  padding-top: 10px;
  font-family: Arial;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.search-bar-detail option {
  margin-top: 5px;
  font-family: Arial;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.search-bar-detail input {
  height: 36px;
  width: 238px;
  left: 0px;
  top: 22px;
  border-radius: 2px;
  padding: 9px 12px 9px 12px;
  border-width: 0.1px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
